.cover-level {
    position: fixed;
    z-index: 1031;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
    top: 0px;
    left: 0px;
    height:100%;
}

@media only screen and (max-width: 500px) {

    .cover-box {
        top: 50%;
        position: fixed;
        width: 100%;
        background-color: #fff;
        margin-top:-175px;
        z-index: 1032;
        height:350px;
        border-radius:10px;
        padding:30px 0;
    }
}
@media only screen and (min-width: 500px) {

    .cover-box {
        top: 50%;
        left:50%;
        position: fixed;
        width: 500px;
        background-color: #fff;
        margin-top:-175px;
        z-index: 1032;
        margin-left: -250px;
        height:350px;
        border-radius:10px;
        padding:30px 0;
    }
}
