.login-bg {
    width: 100%;
    background: url(../../images/login-bg.png);
    background-size: 100% 100%;
    -webkit-filter: blur(10px);
    position: relative;
    z-index: 10;
}

@media only screen and (max-width: 500px) {
    .login-box {
        width: 100%;
        position: fixed;
        top: 30%;
        border-radius: 10px;
        background: rgba(0,0,0,0.5);
        padding: 10px 0px 30px 0px;
        font-family: "microsoft yahei";
        z-index: 11;
    }

        .login-box .row {
            width: 90%;
            position: relative;
            float: left;
            margin: 5px 5%;
        }
}

@media only screen and (min-width: 500px) and (max-width: 640px) {
    .login-box {
        width: 400px;
        position: fixed;
        top: 30%;
        left: 50%;
        margin-left: -200px;
        border-radius: 10px;
        background: rgba(0,0,0,0.5);
        padding: 10px 0px 30px 0px;
        font-family: "microsoft yahei";
        z-index: 11;
    }


        .login-box .row {
            width: 80%;
            position: relative;
            float: left;
            margin: 5px 10%;
        }
}

@media only screen and (min-width: 640px) {
    .login-box {
        width: 400px;
        position: fixed;
        top: 30%;
        left: 50%;
        margin-left: -200px;
        border-radius: 10px;
        background: rgba(0,0,0,0.5);
        padding: 10px 0px 30px 0px;
        font-family: "microsoft yahei";
        z-index: 11;
    }


        .login-box .row {
            width: 80%;
            position: relative;
            float: left;
            margin: 5px 10%;
            position: relative;
        }
}

.login-box .row input {
    width: 100%;
    padding-left: 10px;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    border: none;
}

.login-box .row img {
    width: 68px;
    height: 31px;
    top: 3px;
    position: absolute;
    right: 0px;
    cursor: pointer;
}

.login-box .row h1 {
    text-align: center;
    color: #fff;
}

.login-box .row a {
    text-decoration: none;
    display: block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    background-color: #AC2925;
    color: #fff;
}

    .login-box .row a:hover {
        background-color: rgb(241,34,23);
    }





/*        ÐÂ×öLoginÒ³Ãæ               */
body {
    background: #d9effa;
    font-family: "microsoft yahei";
    margin: 0 0 0;
}

.top {
    width: 100%;
    height: 180px;
    background: rgb(73,194,215);
    position: absolute;
    z-index: 999;
}

    .top img {
        width: 40%;
        max-width: 300px;
        left: 10%;
        top: 20px;
        position: absolute;
    }

.main-box {
    top: 140px;
    width: 80%;
    max-width: 420px;
    margin: 0 auto;
    position: relative;
    z-index: 1000;
}

    .main-box .title-line {
        width: 90%;
        float: left;
        background: #1e6599;
        height: 40px;
        line-height: 40px;
        color: #fff;
        padding: 0 5%;
    }

    .main-box .content-box {
        width: 90%;
        padding: 20px 5%;
        background: #fff;
        float: left;
    }

        .main-box .content-box .row {
            width: 100%;
            position: relative;
            margin-top: 10px;
        }

            .main-box .content-box .row input {
                border-radius: 5px;
                border: 1px solid #f2f2f2;
                width: 95%;
                padding-left: 2.5%;
                height: 35px;
                line-height: 35px;
            }

                .main-box .content-box .row input:focus {
                    border: 1px solid #daeef9;
                }

            .main-box .content-box .row img {
                width: 68px;
                height: 31px;
                top: 4px;
                position: absolute;
                right: 10px;
                cursor: pointer;
            }

            .main-box .content-box .row .sure-btn {
                text-decoration: none;
                display: block;
                width: 100px;
                height: 35px;
                line-height: 35px;
                border-radius: 8px;
                text-align: center;
                margin: 0 auto;
                cursor: pointer;
                background-color: #1e6599;
                color: #fff;
            }

                .main-box .content-box .row sure-btn:hover {
                    background: rgba(30,101,153,0.7);
                }

            .main-box .content-box .row .validate-btn {
                text-decoration: none;
                display: block;
                width: 100px;
                height: 31px;
                line-height: 31px;
                border-radius: 8px;
                text-align: center;
                margin: 0 auto;
                cursor: pointer;
                background-color: #1e6599;
                color: #fff;
                position: absolute;
                right: 8px;
                top: 4px;
            }

                .main-box .content-box .row .validate-btn:hover {
                    background: rgba(30,101,153,0.7);
                }

            .main-box .content-box .row .validate-btn-gray {
                text-decoration: none;
                display: block;
                width: 100px;
                height: 31px;
                line-height: 31px;
                border-radius: 8px;
                text-align: center;
                margin: 0 auto;
                cursor: pointer;
                background-color: gray !important;
                color: #fff;
                position: absolute;
                right: 8px;
                top: 4px;
            }

.margin-top-20 {
    margin-top: 30px !important;
}
